
body{
  margin: 0px 0px 0px 0px;
}
.wrap{
display: flex;
flex-wrap: wrap;
}
.nowrap{
display: flex;
flex-wrap: nowrap;
}
.row{
display: flex;
flex-direction: row;
}
.column{
display: flex;
flex-direction: column;
}

.linecenter{justify-content: center;}
.linestart{justify-content: flex-start;}
.lineend{justify-content: flex-end;}
.linearound{justify-content:space-around;}
.linebetween{justify-content: space-between;}

.offlinestart{align-items: flex-start;}
.offlineend{align-items: flex-end;}
.offlinecenter{align-items: center;}
.offlinestretch{align-items: stretch;}

.positionAbsolute{position: absolute;}
.positionFixed{position: fixed;}
.positionRelative{position: relative;}
.positionStatic{position: static;}
.positionSticky{position: sticky;}
.positionInherit{position: inherit;}

.minheight{min-height: calc(100vh - 200px);}
.anchobase{min-width: calc(100% - 200px);}
.minheight-200px{min-height: 200px;}
.minheight-100px{min-height: 100px;}
.padre{background-color: lightblue;}


.menu{position: absolute;
left: 0px;
top: 0px;
z-index: 1;}


.boton-rojo{
  font-size: 15px;
  padding: 10px;
  font-weight: 800;
  color: #ffffff;
  background-color: #FA0404;
  border-radius: 15px;
  border: 2px solid #E11700;
}

.fondo-1{
    background-color: #F64935;
}
.fondo-2{
    background-color: #F7EF44;
}
.fondo-3{
    background-color: #44D6F7;
}

.fondoalerta-1{
  background-color: #ff7f7f;
}


.width-5px{width: 5px;}
.width-10px{width: 10px;}
.width-15px{width: 15px;}
.width-20px{width: 20px;}
.width-25px{width: 25px;}
.width-30px{width: 30px;}
.width-35px{width: 35px;}
.width-40px{width: 40px;}
.width-45px{width: 45px;}
.width-50px{width: 50px;}
.width-55px{width: 55px;}
.width-60px{width: 60px;}
.width-65px{width: 65px;}
.width-70px{width: 70px;}
.width-75px{width: 75px;}
.width-80px{width: 80px;}
.width-85px{width: 85px;}
.width-90px{width: 90px;}
.width-95px{width: 95px;}
.width-100px{width: 100px;}
.width-105px{width: 105px;}
.width-340px{width: 340px;}
.width-110px{width: 110px;}
.width-115px{width: 115px;}
.width-120px{width: 120px;}
.width-125px{width: 125px;}
.width-130px{width: 130px;}
.width-135px{width: 135px;}
.width-140px{width: 140px;}
.width-145px{width: 145px;}
.width-150px{width: 150px;}
.width-155px{width: 155px;}
.width-160px{width: 160px;}
.width-165px{width: 165px;}
.width-170px{width: 170px;}
.width-175px{width: 175px;}
.width-180px{width: 180px;}
.width-185px{width: 185px;}
.width-190px{width: 190px;}
.width-195px{width: 195px;}
.width-200px{width: 200px;}
.width-205px{width: 205px;}
.width-210px{width: 210px;}
.width-215px{width: 215px;}
.width-220px{width: 220px;}
.width-225px{width: 225px;}
.width-230px{width: 230px;}
.width-235px{width: 235px;}
.width-240px{width: 240px;}
.width-245px{width: 245px;}
.width-250px{width: 250px;}
.width-255px{width: 255px;}
.width-260px{width: 260px;}
.width-265px{width: 265px;}
.width-270px{width: 270px;}
.width-275px{width: 275px;}
.width-280px{width: 280px;}
.width-285px{width: 285px;}
.width-290px{width: 290px;}
.width-295px{width: 295px;}
.width-300px{width: 300px;}
.width-305px{width: 305px;}
.width-310px{width: 310px;}
.width-315px{width: 315px;}
.width-320px{width: 320px;}
.width-325px{width: 325px;}
.width-330px{width: 330px;}
.width-335px{width: 335px;}
.width-345px{width: 345px;}
.width-350px{width: 350px;}
.width-355px{width: 355px;}
.width-360px{width: 360px;}
.width-365px{width: 365px;}
.width-370px{width: 370px;}
.width-375px{width: 375px;}
.width-380px{width: 380px;}
.width-385px{width: 385px;}
.width-390px{width: 390px;}
.width-395px{width: 395px;}
.width-400px{width: 400px;}
.width-405px{width: 405px;}
.width-410px{width: 410px;}
.width-415px{width: 415px;}
.width-420px{width: 420px;}
.width-425px{width: 425px;}
.width-430px{width: 430px;}
.width-435px{width: 435px;}
.width-440px{width: 440px;}
.width-445px{width: 445px;}
.width-450px{width: 450px;}
.width-455px{width: 455px;}
.width-460px{width: 460px;}
.width-465px{width: 465px;}
.width-470px{width: 470px;}
.width-475px{width: 475px;}
.width-480px{width: 480px;}
.width-485px{width: 485px;}
.width-490px{width: 490px;}
.width-495px{width: 495px;}
.width-500px{width: 500px;}
.width-505px{width: 505px;}
.width-510px{width: 510px;}
.width-515px{width: 515px;}
.width-520px{width: 520px;}
.width-525px{width: 525px;}
.width-530px{width: 530px;}
.width-535px{width: 535px;}
.width-540px{width: 540px;}
.width-545px{width: 545px;}
.width-550px{width: 550px;}
.width-555px{width: 555px;}
.width-560px{width: 560px;}
.width-565px{width: 565px;}
.width-570px{width: 570px;}
.width-575px{width: 575px;}
.width-580px{width: 580px;}
.width-585px{width: 585px;}
.width-590px{width: 590px;}
.width-595px{width: 595px;}
.width-600px{width: 600px;}
.width-605px{width: 605px;}
.width-610px{width: 610px;}
.width-615px{width: 615px;}
.width-620px{width: 620px;}
.width-625px{width: 625px;}
.width-630px{width: 630px;}
.width-635px{width: 635px;}
.width-640px{width: 640px;}
.width-645px{width: 645px;}
.width-650px{width: 650px;}
.width-655px{width: 655px;}
.width-660px{width: 660px;}
.width-665px{width: 665px;}
.width-670px{width: 670px;}
.width-675px{width: 675px;}
.width-680px{width: 680px;}
.width-685px{width: 685px;}
.width-690px{width: 690px;}
.width-695px{width: 695px;}
.width-700px{width: 700px;}
.width-705px{width: 705px;}
.width-710px{width: 710px;}
.width-715px{width: 715px;}
.width-720px{width: 720px;}
.width-725px{width: 725px;}
.width-730px{width: 730px;}
.width-735px{width: 735px;}
.width-740px{width: 740px;}
.width-745px{width: 745px;}
.width-750px{width: 750px;}
.width-755px{width: 755px;}
.width-760px{width: 760px;}
.width-765px{width: 765px;}
.width-770px{width: 770px;}
.width-775px{width: 775px;}
.width-780px{width: 780px;}
.width-785px{width: 785px;}
.width-795px{width: 795px;}
.width-790px{width: 790px;}
.width-800px{width: 800px;}
.width-805px{width: 805px;}
.width-810px{width: 810px;}
.width-815px{width: 815px;}
.width-820px{width: 820px;}
.width-825px{width: 825px;}
.width-830px{width: 830px;}
.width-835px{width: 835px;}
.width-840px{width: 840px;}
.width-845px{width: 845px;}
.width-850px{width: 850px;}
.width-855px{width: 855px;}
.width-860px{width: 860px;}
.width-865px{width: 865px;}
.width-870px{width: 870px;}
.width-875px{width: 875px;}
.width-880px{width: 880px;}
.width-885px{width: 885px;}
.width-890px{width: 890px;}
.width-895px{width: 895px;}
.width-900px{width: 900px;}
.width-905px{width: 905px;}
.width-910px{width: 910px;}
.width-915px{width: 915px;}
.width-920px{width: 920px;}
.width-925px{width: 925px;}
.width-930px{width: 930px;}
.width-935px{width: 935px;}
.width-940px{width: 940px;}
.width-945px{width: 945px;}
.width-950px{width: 950px;}
.width-955px{width: 955px;}
.width-960px{width: 960px;}
.width-965px{width: 965px;}
.width-970px{width: 970px;}
.width-975px{width: 975px;}
.width-980px{width: 980px;}
.width-985px{width: 985px;}
.width-990px{width: 990px;}
.width-995px{width: 995px;}
.width-1000px{width: 1000px;}
.width-1005px{width: 1005px;}
.width-1010px{width: 1010px;}
.width-1015px{width: 1015px;}
.width-1020px{width: 1020px;}
.width-1025px{width: 1025px;}
.width-1030px{width: 1030px;}
.width-1035px{width: 1035px;}
.width-1040px{width: 1040px;}
.width-1045px{width: 1045px;}
.width-1050px{width: 1050px;}
.width-1055px{width: 1055px;}
.width-1060px{width: 1060px;}
.width-1065px{width: 1065px;}
.width-1070px{width: 1070px;}
.width-1075px{width: 1075px;}
.width-1080px{width: 1080px;}
.width-1085px{width: 1085px;}
.width-1090px{width: 1090px;}
.width-1095px{width: 1095px;}
.width-1100px{width: 1100px;}
.width-1105px{width: 1105px;}
.width-1110px{width: 1110px;}
.width-1115px{width: 1115px;}
.width-1120px{width: 1120px;}
.width-1125px{width: 1125px;}
.width-1130px{width: 1130px;}
.width-1135px{width: 1135px;}
.width-1140px{width: 1140px;}
.width-1145px{width: 1145px;}
.width-1150px{width: 1150px;}
.width-1155px{width: 1155px;}
.width-1160px{width: 1160px;}
.width-1165px{width: 1165px;}
.width-1170px{width: 1170px;}
.width-1175px{width: 1175px;}
.width-1180px{width: 1180px;}
.width-1185px{width: 1185px;}
.width-1190px{width: 1190px;}
.width-1195px{width: 1195px;}
.width-1200px{width: 1200px;}

.width-5{width: 5%;}
.width-10{width: 10%;}
.width-15{width: 15%;}
.width-20{width: 20%;}
.width-25{width: 25%;}
.width-30{width: 30%;}
.width-35{width: 35%;}
.width-40{width: 40%;}
.width-45{width: 45%;}
.width-50{width: 50%;}
.width-55{width: 55%;}
.width-60{width: 60%;}
.width-65{width: 65%;}
.width-70{width: 70%;}
.width-75{width: 75%;}
.width-80{width: 80%;}
.width-85{width: 85%;}
.width-90{width: 90%;}
.width-95{width: 95%;}
.width-100{width: 100%;}

.height-5px{height: 5px;}
.height-10px{height: 10px;}
.height-15px{height: 15px;}
.height-20px{height: 20px;}
.height-25px{height: 25px;}
.height-30px{height: 30px;}
.height-35px{height: 35px;}
.height-40px{height: 40px;}
.height-45px{height: 45px;}
.height-50px{height: 50px;}
.height-55px{height: 55px;}
.height-60px{height: 60px;}
.height-65px{height: 65px;}
.height-70px{height: 70px;}
.height-75px{height: 75px;}
.height-80px{height: 80px;}
.height-85px{height: 85px;}
.height-90px{height: 90px;}
.height-95px{height: 95px;}
.height-100px{height: 100px;}
.height-105px{height: 105px;}
.height-110px{height: 110px;}
.height-115px{height: 115px;}
.height-120px{height: 120px;}
.height-125px{height: 125px;}
.height-130px{height: 130px;}
.height-135px{height: 135px;}
.height-140px{height: 140px;}
.height-145px{height: 145px;}
.height-150px{height: 150px;}
.height-155px{height: 155px;}
.height-160px{height: 160px;}
.height-165px{height: 165px;}
.height-170px{height: 170px;}
.height-175px{height: 175px;}
.height-180px{height: 180px;}
.height-185px{height: 185px;}
.height-190px{height: 190px;}
.height-195px{height: 195px;}
.height-200px{height: 200px;}
.height-205px{height: 205px;}
.height-210px{height: 210px;}
.height-215px{height: 215px;}
.height-220px{height: 220px;}
.height-225px{height: 225px;}
.height-230px{height: 230px;}
.height-235px{height: 235px;}
.height-240px{height: 240px;}
.height-245px{height: 245px;}
.height-250px{height: 250px;}
.height-255px{height: 255px;}
.height-260px{height: 260px;}
.height-265px{height: 265px;}
.height-270px{height: 270px;}
.height-275px{height: 275px;}
.height-280px{height: 280px;}
.height-285px{height: 285px;}
.height-290px{height: 290px;}
.height-295px{height: 295px;}
.height-300px{height: 300px;}
.height-305px{height: 305px;}
.height-310px{height: 310px;}
.height-315px{height: 315px;}
.height-320px{height: 320px;}
.height-325px{height: 325px;}
.height-330px{height: 330px;}
.height-335px{height: 335px;}
.height-340px{height: 340px;}
.height-345px{height: 345px;}
.height-350px{height: 350px;}
.height-355px{height: 355px;}
.height-360px{height: 360px;}
.height-365px{height: 365px;}
.height-370px{height: 370px;}
.height-375px{height: 375px;}
.height-380px{height: 380px;}
.height-385px{height: 385px;}
.height-390px{height: 390px;}
.height-395px{height: 395px;}
.height-400px{height: 400px;}
.height-405px{height: 405px;}
.height-410px{height: 410px;}
.height-415px{height: 415px;}
.height-420px{height: 420px;}
.height-425px{height: 425px;}
.height-430px{height: 430px;}
.height-435px{height: 435px;}
.height-440px{height: 440px;}
.height-445px{height: 445px;}
.height-450px{height: 450px;}
.height-455px{height: 455px;}
.height-460px{height: 460px;}
.height-465px{height: 465px;}
.height-470px{height: 470px;}
.height-475px{height: 475px;}
.height-480px{height: 480px;}
.height-485px{height: 485px;}
.height-490px{height: 490px;}
.height-495px{height: 495px;}
.height-500px{height: 500px;}
.height-505px{height: 505px;}
.height-510px{height: 510px;}
.height-515px{height: 515px;}
.height-520px{height: 520px;}
.height-525px{height: 525px;}
.height-530px{height: 530px;}
.height-535px{height: 535px;}
.height-540px{height: 540px;}
.height-545px{height: 545px;}
.height-550px{height: 550px;}
.height-555px{height: 555px;}
.height-560px{height: 560px;}
.height-565px{height: 565px;}
.height-570px{height: 570px;}
.height-575px{height: 575px;}
.height-580px{height: 580px;}
.height-585px{height: 585px;}
.height-590px{height: 590px;}
.height-595px{height: 595px;}
.height-600px{height: 600px;}
.height-605px{height: 605px;}
.height-610px{height: 610px;}
.height-615px{height: 615px;}
.height-620px{height: 620px;}
.height-625px{height: 625px;}
.height-630px{height: 630px;}
.height-635px{height: 635px;}
.height-640px{height: 640px;}
.height-645px{height: 645px;}
.height-650px{height: 650px;}
.height-655px{height: 655px;}
.height-660px{height: 660px;}
.height-665px{height: 665px;}
.height-670px{height: 670px;}
.height-675px{height: 675px;}
.height-680px{height: 680px;}
.height-685px{height: 685px;}
.height-690px{height: 690px;}
.height-695px{height: 695px;}
.height-700px{height: 700px;}
.height-705px{height: 705px;}
.height-710px{height: 710px;}
.height-715px{height: 715px;}
.height-720px{height: 720px;}
.height-725px{height: 725px;}
.height-730px{height: 730px;}
.height-735px{height: 735px;}
.height-740px{height: 740px;}
.height-745px{height: 745px;}
.height-750px{height: 750px;}
.height-755px{height: 755px;}
.height-760px{height: 760px;}
.height-765px{height: 765px;}
.height-770px{height: 770px;}
.height-775px{height: 775px;}
.height-780px{height: 780px;}
.height-785px{height: 785px;}
.height-790px{height: 790px;}
.height-795px{height: 795px;}
.height-800px{height: 800px;}
.height-805px{height: 805px;}
.height-810px{height: 810px;}
.height-815px{height: 815px;}
.height-820px{height: 820px;}
.height-825px{height: 825px;}
.height-830px{height: 830px;}
.height-835px{height: 835px;}
.height-840px{height: 840px;}
.height-845px{height: 845px;}
.height-850px{height: 850px;}
.height-855px{height: 855px;}
.height-860px{height: 860px;}
.height-865px{height: 865px;}
.height-870px{height: 870px;}
.height-875px{height: 875px;}
.height-880px{height: 880px;}
.height-885px{height: 885px;}
.height-890px{height: 890px;}
.height-895px{height: 895px;}
.height-900px{height: 900px;}
.height-905px{height: 905px;}
.height-910px{height: 910px;}
.height-915px{height: 915px;}
.height-920px{height: 920px;}
.height-925px{height: 925px;}
.height-930px{height: 930px;}
.height-935px{height: 935px;}
.height-940px{height: 940px;}
.height-945px{height: 945px;}
.height-950px{height: 950px;}
.height-955px{height: 955px;}
.height-960px{height: 960px;}
.height-965px{height: 965px;}
.height-970px{height: 970px;}
.height-975px{height: 975px;}
.height-980px{height: 980px;}
.height-985px{height: 985px;}
.height-990px{height: 990px;}
.height-995px{height: 995px;}
.height-1000px{height: 1000px;}
.height-1005px{height: 1005px;}
.height-1010px{height: 1010px;}
.height-1015px{height: 1015px;}
.height-1020px{height: 1020px;}
.height-1025px{height: 1025px;}
.height-1030px{height: 1030px;}
.height-1035px{height: 1035px;}
.height-1040px{height: 1040px;}
.height-1045px{height: 1045px;}
.height-1050px{height: 1050px;}
.height-1055px{height: 1055px;}
.height-1060px{height: 1060px;}
.height-1065px{height: 1065px;}
.height-1070px{height: 1070px;}
.height-1075px{height: 1075px;}
.height-1080px{height: 1080px;}
.height-1085px{height: 1085px;}
.height-1090px{height: 1090px;}
.height-1095px{height: 1095px;}
.height-1100px{height: 1100px;}
.height-1105px{height: 1105px;}
.height-1110px{height: 1110px;}
.height-1115px{height: 1115px;}
.height-1120px{height: 1120px;}
.height-1125px{height: 1125px;}
.height-1130px{height: 1130px;}
.height-1135px{height: 1135px;}
.height-1140px{height: 1140px;}
.height-1145px{height: 1145px;}
.height-1150px{height: 1150px;}
.height-1155px{height: 1155px;}
.height-1160px{height: 1160px;}
.height-1165px{height: 1165px;}
.height-1170px{height: 1170px;}
.height-1175px{height: 1175px;}
.height-1180px{height: 1180px;}
.height-1185px{height: 1185px;}
.height-1190px{height: 1190px;}
.height-1195px{height: 1195px;}
.height-1200px{height: 1200px;}
.height-1205px{height: 1205px;}
.height-1210px{height: 1210px;}

.height-5{height: 5vh;}
.height-10{height: 10vh;}
.height-15{height: 15vh;}
.height-20{height: 20vh;}
.height-25{height: 25vh;}
.height-30{height: 30vh;}
.height-35{height: 35vh;}
.height-40{height: 40vh;}
.height-45{height: 45vh;}
.height-50{height: 50vh;}
.height-55{height: 55vh;}
.height-60{height: 60vh;}
.height-65{height: 65vh;}
.height-70{height: 70vh;}
.height-75{height: 75vh;}
.height-80{height: 80vh;}
.height-85{height: 85vh;}
.height-90{height: 90vh;}
.height-95{height: 95vh;}
.height-100{height: 100vh;}

.marginall-1px{margin: 1px 1px 1px 1px;}
.marginall-2px{margin: 2px 2px 2px 2px;}
.marginall-3px{margin: 3px 3px 3px 3px;}
.marginall-4px{margin: 4px 4px 4px 4px;}
.marginall-5px{margin: 5px 5px 5px 5px;}
.marginall-6px{margin: 6px 6px 6px 6px;}
.marginall-7px{margin: 7px 7px 7px 7px;}
.marginall-8px{margin: 8px 8px 8px 8px;}
.marginall-9px{margin: 9px 9px 9px 9px;}
.marginall-10px{margin: 10px 10px 10px 10px;}
.marginall-11px{margin: 11px 11px 11px 11px;}
.marginall-12px{margin: 12px 12px 12px 12px;}
.marginall-13px{margin: 13px 13px 13px 13px;}
.marginall-14px{margin: 14px 14px 14px 14px;}
.marginall-15px{margin: 15px 15px 15px 15px;}
.marginall-16px{margin: 16px 16px 16px 16px;}
.marginall-17px{margin: 17px 17px 17px 17px;}
.marginall-18px{margin: 18px 18px 18px 18px;}
.marginall-19px{margin: 19px 19px 19px 19px;}
.marginall-20px{margin: 20px 20px 20px 20px;}
.marginall-21px{margin: 21px 21px 21px 21px;}
.marginall-22px{margin: 22px 22px 22px 22px;}
.marginall-23px{margin: 23px 23px 23px 23px;}
.marginall-24px{margin: 24px 24px 24px 24px;}
.marginall-25px{margin: 25px 25px 25px 25px;}
.marginall-26px{margin: 26px 26px 26px 26px;}
.marginall-27px{margin: 27px 27px 27px 27px;}
.marginall-28px{margin: 28px 28px 28px 28px;}
.marginall-29px{margin: 29px 29px 29px 29px;}
.marginall-30px{margin: 30px 30px 30px 30px;}
.marginall-31px{margin: 31px 31px 31px 31px;}
.marginall-32px{margin: 32px 32px 32px 32px;}
.marginall-33px{margin: 33px 33px 33px 33px;}
.marginall-34px{margin: 34px 34px 34px 34px;}
.marginall-35px{margin: 35px 35px 35px 35px;}
.marginall-36px{margin: 36px 36px 36px 36px;}
.marginall-37px{margin: 37px 37px 37px 37px;}
.marginall-38px{margin: 38px 38px 38px 38px;}
.marginall-39px{margin: 39px 39px 39px 39px;}
.marginall-40px{margin: 40px 40px 40px 40px;}
.marginall-41px{margin: 41px 41px 41px 41px;}
.marginall-42px{margin: 42px 42px 42px 42px;}
.marginall-43px{margin: 43px 43px 43px 43px;}
.marginall-44px{margin: 44px 44px 44px 44px;}
.marginall-45px{margin: 45px 45px 45px 45px;}
.marginall-46px{margin: 46px 46px 46px 46px;}
.marginall-47px{margin: 47px 47px 47px 47px;}
.marginall-48px{margin: 48px 48px 48px 48px;}
.marginall-49px{margin: 49px 49px 49px 49px;}
.marginall-50px{margin: 50px 50px 50px 50px;}
.marginright-1px{margin-right: 1px;}
.marginright-2px{margin-right: 2px;}
.marginright-3px{margin-right: 3px;}
.marginright-4px{margin-right: 4px;}
.marginright-5px{margin-right: 5px;}
.marginright-6px{margin-right: 6px;}
.marginright-7px{margin-right: 7px;}
.marginright-8px{margin-right: 8px;}
.marginright-9px{margin-right: 9px;}
.marginright-10px{margin-right: 10px;}
.marginright-11px{margin-right: 11px;}
.marginright-12px{margin-right: 12px;}
.marginright-13px{margin-right: 13px;}
.marginright-14px{margin-right: 14px;}
.marginright-15px{margin-right: 15px;}
.marginright-16px{margin-right: 16px;}
.marginright-17px{margin-right: 17px;}
.marginright-18px{margin-right: 18px;}
.marginright-19px{margin-right: 19px;}
.marginright-20px{margin-right: 20px;}
.marginright-21px{margin-right: 21px;}
.marginright-22px{margin-right: 22px;}
.marginright-23px{margin-right: 23px;}
.marginright-24px{margin-right: 24px;}
.marginright-25px{margin-right: 25px;}
.marginright-26px{margin-right: 26px;}
.marginright-27px{margin-right: 27px;}
.marginright-28px{margin-right: 28px;}
.marginright-29px{margin-right: 29px;}
.marginright-30px{margin-right: 30px;}
.marginright-31px{margin-right: 31px;}
.marginright-32px{margin-right: 32px;}
.marginright-33px{margin-right: 33px;}
.marginright-34px{margin-right: 34px;}
.marginright-35px{margin-right: 35px;}
.marginright-36px{margin-right: 36px;}
.marginright-37px{margin-right: 37px;}
.marginright-38px{margin-right: 38px;}
.marginright-39px{margin-right: 39px;}
.marginright-40px{margin-right: 40px;}
.marginright-41px{margin-right: 41px;}
.marginright-42px{margin-right: 42px;}
.marginright-43px{margin-right: 43px;}
.marginright-44px{margin-right: 44px;}
.marginright-45px{margin-right: 45px;}
.marginright-46px{margin-right: 46px;}
.marginright-47px{margin-right: 47px;}
.marginright-48px{margin-right: 48px;}
.marginright-49px{margin-right: 49px;}
.marginright-50px{margin-right: 50px;}
.marginleft-1px{margin-left: 1px;}
.marginleft-2px{margin-left: 2px;}
.marginleft-3px{margin-left: 3px;}
.marginleft-4px{margin-left: 4px;}
.marginleft-5px{margin-left: 5px;}
.marginleft-6px{margin-left: 6px;}
.marginleft-7px{margin-left: 7px;}
.marginleft-8px{margin-left: 8px;}
.marginleft-9px{margin-left: 9px;}
.marginleft-10px{margin-left: 10px;}
.marginleft-11px{margin-left: 11px;}
.marginleft-12px{margin-left: 12px;}
.marginleft-13px{margin-left: 13px;}
.marginleft-14px{margin-left: 14px;}
.marginleft-15px{margin-left: 15px;}
.marginleft-16px{margin-left: 16px;}
.marginleft-17px{margin-left: 17px;}
.marginleft-18px{margin-left: 18px;}
.marginleft-19px{margin-left: 19px;}
.marginleft-20px{margin-left: 20px;}
.marginleft-21px{margin-left: 21px;}
.marginleft-22px{margin-left: 22px;}
.marginleft-23px{margin-left: 23px;}
.marginleft-24px{margin-left: 24px;}
.marginleft-25px{margin-left: 25px;}
.marginleft-26px{margin-left: 26px;}
.marginleft-27px{margin-left: 27px;}
.marginleft-28px{margin-left: 28px;}
.marginleft-29px{margin-left: 29px;}
.marginleft-30px{margin-left: 30px;}
.marginleft-31px{margin-left: 31px;}
.marginleft-32px{margin-left: 32px;}
.marginleft-33px{margin-left: 33px;}
.marginleft-34px{margin-left: 34px;}
.marginleft-35px{margin-left: 35px;}
.marginleft-36px{margin-left: 36px;}
.marginleft-37px{margin-left: 37px;}
.marginleft-38px{margin-left: 38px;}
.marginleft-39px{margin-left: 39px;}
.marginleft-40px{margin-left: 40px;}
.marginleft-41px{margin-left: 41px;}
.marginleft-42px{margin-left: 42px;}
.marginleft-43px{margin-left: 43px;}
.marginleft-44px{margin-left: 44px;}
.marginleft-45px{margin-left: 45px;}
.marginleft-46px{margin-left: 46px;}
.marginleft-47px{margin-left: 47px;}
.marginleft-48px{margin-left: 48px;}
.marginleft-49px{margin-left: 49px;}
.marginleft-50px{margin-left: 50px;}
.margintop-1px{margin-top: 1px;}
.margintop-2px{margin-top: 2px;}
.margintop-3px{margin-top: 3px;}
.margintop-4px{margin-top: 4px;}
.margintop-5px{margin-top: 5px;}
.margintop-6px{margin-top: 6px;}
.margintop-7px{margin-top: 7px;}
.margintop-8px{margin-top: 8px;}
.margintop-9px{margin-top: 9px;}
.margintop-10px{margin-top: 10px;}
.margintop-11px{margin-top: 11px;}
.margintop-12px{margin-top: 12px;}
.margintop-13px{margin-top: 13px;}
.margintop-14px{margin-top: 14px;}
.margintop-15px{margin-top: 15px;}
.margintop-16px{margin-top: 16px;}
.margintop-17px{margin-top: 17px;}
.margintop-18px{margin-top: 18px;}
.margintop-19px{margin-top: 19px;}
.margintop-20px{margin-top: 20px;}
.margintop-21px{margin-top: 21px;}
.margintop-22px{margin-top: 22px;}
.margintop-23px{margin-top: 23px;}
.margintop-24px{margin-top: 24px;}
.margintop-25px{margin-top: 25px;}
.margintop-26px{margin-top: 26px;}
.margintop-27px{margin-top: 27px;}
.margintop-28px{margin-top: 28px;}
.margintop-29px{margin-top: 29px;}
.margintop-30px{margin-top: 30px;}
.margintop-31px{margin-top: 31px;}
.margintop-32px{margin-top: 32px;}
.margintop-33px{margin-top: 33px;}
.margintop-34px{margin-top: 34px;}
.margintop-35px{margin-top: 35px;}
.margintop-36px{margin-top: 36px;}
.margintop-37px{margin-top: 37px;}
.margintop-38px{margin-top: 38px;}
.margintop-39px{margin-top: 39px;}
.margintop-40px{margin-top: 40px;}
.margintop-41px{margin-top: 41px;}
.margintop-42px{margin-top: 42px;}
.margintop-43px{margin-top: 43px;}
.margintop-44px{margin-top: 44px;}
.margintop-45px{margin-top: 45px;}
.margintop-46px{margin-top: 46px;}
.margintop-47px{margin-top: 47px;}
.margintop-48px{margin-top: 48px;}
.margintop-49px{margin-top: 49px;}
.margintop-50px{margin-top: 50px;}
.marginbottom-1px{margin-bottom: 1px;}
.marginbottom-2px{margin-bottom: 2px;}
.marginbottom-3px{margin-bottom: 3px;}
.marginbottom-4px{margin-bottom: 4px;}
.marginbottom-5px{margin-bottom: 5px;}
.marginbottom-6px{margin-bottom: 6px;}
.marginbottom-7px{margin-bottom: 7px;}
.marginbottom-8px{margin-bottom: 8px;}
.marginbottom-9px{margin-bottom: 9px;}
.marginbottom-10px{margin-bottom: 10px;}
.marginbottom-11px{margin-bottom: 11px;}
.marginbottom-12px{margin-bottom: 12px;}
.marginbottom-13px{margin-bottom: 13px;}
.marginbottom-14px{margin-bottom: 14px;}
.marginbottom-15px{margin-bottom: 15px;}
.marginbottom-16px{margin-bottom: 16px;}
.marginbottom-17px{margin-bottom: 17px;}
.marginbottom-18px{margin-bottom: 18px;}
.marginbottom-19px{margin-bottom: 19px;}
.marginbottom-20px{margin-bottom: 20px;}
.marginbottom-21px{margin-bottom: 21px;}
.marginbottom-22px{margin-bottom: 22px;}
.marginbottom-23px{margin-bottom: 23px;}
.marginbottom-24px{margin-bottom: 24px;}
.marginbottom-25px{margin-bottom: 25px;}
.marginbottom-26px{margin-bottom: 26px;}
.marginbottom-27px{margin-bottom: 27px;}
.marginbottom-28px{margin-bottom: 28px;}
.marginbottom-29px{margin-bottom: 29px;}
.marginbottom-30px{margin-bottom: 30px;}
.marginbottom-31px{margin-bottom: 31px;}
.marginbottom-32px{margin-bottom: 32px;}
.marginbottom-33px{margin-bottom: 33px;}
.marginbottom-34px{margin-bottom: 34px;}
.marginbottom-35px{margin-bottom: 35px;}
.marginbottom-36px{margin-bottom: 36px;}
.marginbottom-37px{margin-bottom: 37px;}
.marginbottom-38px{margin-bottom: 38px;}
.marginbottom-39px{margin-bottom: 39px;}
.marginbottom-40px{margin-bottom: 40px;}
.marginbottom-41px{margin-bottom: 41px;}
.marginbottom-42px{margin-bottom: 42px;}
.marginbottom-43px{margin-bottom: 43px;}
.marginbottom-44px{margin-bottom: 44px;}
.marginbottom-45px{margin-bottom: 45px;}
.marginbottom-46px{margin-bottom: 46px;}
.marginbottom-47px{margin-bottom: 47px;}
.marginbottom-48px{margin-bottom: 48px;}
.marginbottom-49px{margin-bottom: 49px;}
.marginbottom-50px{margin-bottom: 50px;}
