
body{
  margin: 0px 0px 0px 0px;
}

.wrap{
display: flex;
flex-wrap: wrap;
}
.nowrap{
display: flex;
flex-wrap: nowrap;
}
.row{
display: flex;
flex-direction: row;
}
.column{
display: flex;
flex-direction: column;

}

.linecenter{justify-content: center;}
.linestart{justify-content: flex-start;}
.lineend{justify-content: flex-end;}
.linearound{justify-content:space-around;}
.linebetween{justify-content: space-between;}

.offlinestart{align-items: flex-start;}
.offlineend{align-items: flex-end;}
.offlinecenter{align-items: center;}


.padre{background-color: lightblue;}

.marginall-10px{margin: 10px 10px 10px 10px;}
.marginright-10px{margin-right: 10px}



.boton-rojo{
  font-size: 15px;
  padding: 10px;
  font-weight: 800;
  color: #ffffff;
  background-color: #FA0404;
  border-radius: 15px;
  border: 2px solid #E11700;
}

.fondo-1{
    background-color: #F64935;
}


.width-5px{width: 5px;}
.width-10px{width: 10px;}
.width-15px{width: 15px;}
.width-20px{width: 20px;}
.width-25px{width: 25px;}
.width-30px{width: 30px;}
.width-35px{width: 35px;}
.width-40px{width: 40px;}
.width-45px{width: 45px;}
.width-50px{width: 50px;}
.width-55px{width: 55px;}
.width-60px{width: 60px;}
.width-65px{width: 65px;}
.width-70px{width: 70px;}
.width-75px{width: 75px;}
.width-80px{width: 80px;}
.width-85px{width: 85px;}
.width-90px{width: 90px;}
.width-95px{width: 95px;}
.width-100px{width: 100px;}
.width-105px{width: 105px;}
.width-340px{width: 340px;}
.width-110px{width: 110px;}
.width-115px{width: 115px;}
.width-120px{width: 120px;}
.width-125px{width: 125px;}
.width-130px{width: 130px;}
.width-135px{width: 135px;}
.width-140px{width: 140px;}
.width-145px{width: 145px;}
.width-150px{width: 150px;}
.width-155px{width: 155px;}
.width-160px{width: 160px;}
.width-165px{width: 165px;}
.width-170px{width: 170px;}
.width-175px{width: 175px;}
.width-180px{width: 180px;}
.width-185px{width: 185px;}
.width-190px{width: 190px;}
.width-195px{width: 195px;}
.width-200px{width: 200px;}
.width-205px{width: 205px;}
.width-210px{width: 210px;}
.width-215px{width: 215px;}
.width-220px{width: 220px;}
.width-225px{width: 225px;}
.width-230px{width: 230px;}
.width-235px{width: 235px;}
.width-240px{width: 240px;}
.width-245px{width: 245px;}
.width-250px{width: 250px;}
.width-255px{width: 255px;}
.width-260px{width: 260px;}
.width-265px{width: 265px;}
.width-270px{width: 270px;}
.width-275px{width: 275px;}
.width-280px{width: 280px;}
.width-285px{width: 285px;}
.width-290px{width: 290px;}
.width-295px{width: 295px;}
.width-300px{width: 300px;}
.width-305px{width: 305px;}
.width-310px{width: 310px;}
.width-315px{width: 315px;}
.width-320px{width: 320px;}
.width-325px{width: 325px;}
.width-330px{width: 330px;}
.width-335px{width: 335px;}
.width-345px{width: 345px;}
.width-350px{width: 350px;}
.width-355px{width: 355px;}
.width-360px{width: 360px;}
.width-365px{width: 365px;}
.width-370px{width: 370px;}
.width-375px{width: 375px;}
.width-380px{width: 380px;}
.width-385px{width: 385px;}
.width-390px{width: 390px;}
.width-395px{width: 395px;}
.width-400px{width: 400px;}
.width-405px{width: 405px;}
.width-410px{width: 410px;}
.width-415px{width: 415px;}
.width-420px{width: 420px;}
.width-425px{width: 425px;}
.width-430px{width: 430px;}
.width-435px{width: 435px;}
.width-440px{width: 440px;}
.width-445px{width: 445px;}
.width-450px{width: 450px;}
.width-455px{width: 455px;}
.width-460px{width: 460px;}
.width-465px{width: 465px;}
.width-470px{width: 470px;}
.width-475px{width: 475px;}
.width-480px{width: 480px;}
.width-485px{width: 485px;}
.width-490px{width: 490px;}
.width-495px{width: 495px;}
.width-500px{width: 500px;}
.width-505px{width: 505px;}
.width-510px{width: 510px;}
.width-515px{width: 515px;}
.width-520px{width: 520px;}
.width-525px{width: 525px;}
.width-530px{width: 530px;}
.width-535px{width: 535px;}
.width-540px{width: 540px;}
.width-545px{width: 545px;}
.width-550px{width: 550px;}
.width-555px{width: 555px;}
.width-560px{width: 560px;}
.width-565px{width: 565px;}
.width-570px{width: 570px;}
.width-575px{width: 575px;}
.width-580px{width: 580px;}
.width-585px{width: 585px;}
.width-590px{width: 590px;}
.width-595px{width: 595px;}
.width-600px{width: 600px;}
.width-605px{width: 605px;}
.width-610px{width: 610px;}
.width-615px{width: 615px;}
.width-620px{width: 620px;}
.width-625px{width: 625px;}
.width-630px{width: 630px;}
.width-635px{width: 635px;}
.width-640px{width: 640px;}
.width-645px{width: 645px;}
.width-650px{width: 650px;}
.width-655px{width: 655px;}
.width-660px{width: 660px;}
.width-665px{width: 665px;}
.width-670px{width: 670px;}
.width-675px{width: 675px;}
.width-680px{width: 680px;}
.width-685px{width: 685px;}
.width-690px{width: 690px;}
.width-695px{width: 695px;}
.width-700px{width: 700px;}
.width-705px{width: 705px;}
.width-710px{width: 710px;}
.width-715px{width: 715px;}
.width-720px{width: 720px;}
.width-725px{width: 725px;}
.width-730px{width: 730px;}
.width-735px{width: 735px;}
.width-740px{width: 740px;}
.width-745px{width: 745px;}
.width-750px{width: 750px;}
.width-755px{width: 755px;}
.width-760px{width: 760px;}
.width-765px{width: 765px;}
.width-770px{width: 770px;}
.width-775px{width: 775px;}
.width-780px{width: 780px;}
.width-785px{width: 785px;}
.width-795px{width: 795px;}
.width-790px{width: 790px;}
.width-800px{width: 800px;}
.width-805px{width: 805px;}
.width-810px{width: 810px;}
.width-815px{width: 815px;}
.width-820px{width: 820px;}
.width-825px{width: 825px;}
.width-830px{width: 830px;}
.width-835px{width: 835px;}
.width-840px{width: 840px;}
.width-845px{width: 845px;}
.width-850px{width: 850px;}
.width-855px{width: 855px;}
.width-860px{width: 860px;}
.width-865px{width: 865px;}
.width-870px{width: 870px;}
.width-875px{width: 875px;}
.width-880px{width: 880px;}
.width-885px{width: 885px;}
.width-890px{width: 890px;}
.width-895px{width: 895px;}
.width-900px{width: 900px;}
.width-905px{width: 905px;}
.width-910px{width: 910px;}
.width-915px{width: 915px;}
.width-920px{width: 920px;}
.width-925px{width: 925px;}
.width-930px{width: 930px;}
.width-935px{width: 935px;}
.width-940px{width: 940px;}
.width-945px{width: 945px;}
.width-950px{width: 950px;}
.width-955px{width: 955px;}
.width-960px{width: 960px;}
.width-965px{width: 965px;}
.width-970px{width: 970px;}
.width-975px{width: 975px;}
.width-980px{width: 980px;}
.width-985px{width: 985px;}
.width-990px{width: 990px;}
.width-995px{width: 995px;}
.width-1000px{width: 1000px;}
.width-1005px{width: 1005px;}
.width-1010px{width: 1010px;}
.width-1015px{width: 1015px;}
.width-1020px{width: 1020px;}
.width-1025px{width: 1025px;}
.width-1030px{width: 1030px;}
.width-1035px{width: 1035px;}
.width-1040px{width: 1040px;}
.width-1045px{width: 1045px;}
.width-1050px{width: 1050px;}
.width-1055px{width: 1055px;}
.width-1060px{width: 1060px;}
.width-1065px{width: 1065px;}
.width-1070px{width: 1070px;}
.width-1075px{width: 1075px;}
.width-1080px{width: 1080px;}
.width-1085px{width: 1085px;}
.width-1090px{width: 1090px;}
.width-1095px{width: 1095px;}
.width-1100px{width: 1100px;}
.width-1105px{width: 1105px;}
.width-1110px{width: 1110px;}
.width-1115px{width: 1115px;}
.width-1120px{width: 1120px;}
.width-1125px{width: 1125px;}
.width-1130px{width: 1130px;}
.width-1135px{width: 1135px;}
.width-1140px{width: 1140px;}
.width-1145px{width: 1145px;}
.width-1150px{width: 1150px;}
.width-1155px{width: 1155px;}
.width-1160px{width: 1160px;}
.width-1165px{width: 1165px;}
.width-1170px{width: 1170px;}
.width-1175px{width: 1175px;}
.width-1180px{width: 1180px;}
.width-1185px{width: 1185px;}
.width-1190px{width: 1190px;}
.width-1195px{width: 1195px;}
.width-1200px{width: 1200px;}

.width-5{width: 5%;}
.width-10{width: 10%;}
.width-15{width: 15%;}
.width-20{width: 20%;}
.width-25{width: 25%;}
.width-30{width: 30%;}
.width-35{width: 35%;}
.width-40{width: 40%;}
.width-45{width: 45%;}
.width-50{width: 50%;}
.width-55{width: 55%;}
.width-60{width: 60%;}
.width-65{width: 65%;}
.width-70{width: 70%;}
.width-75{width: 75%;}
.width-80{width: 80%;}
.width-85{width: 85%;}
.width-90{width: 90%;}
.width-95{width: 95%;}
.width-100{width: 100%;}

.height-5px{height: 5px;}
.height-10px{height: 10px;}
.height-15px{height: 15px;}
.height-20px{height: 20px;}
.height-25px{height: 25px;}
.height-30px{height: 30px;}
.height-35px{height: 35px;}
.height-40px{height: 40px;}
.height-45px{height: 45px;}
.height-50px{height: 50px;}
.height-55px{height: 55px;}
.height-60px{height: 60px;}
.height-65px{height: 65px;}
.height-70px{height: 70px;}
.height-75px{height: 75px;}
.height-80px{height: 80px;}
.height-85px{height: 85px;}
.height-90px{height: 90px;}
.height-95px{height: 95px;}
.height-100px{height: 100px;}
.height-105px{height: 105px;}
.height-110px{height: 110px;}
.height-115px{height: 115px;}
.height-120px{height: 120px;}
.height-125px{height: 125px;}
.height-130px{height: 130px;}
.height-135px{height: 135px;}
.height-140px{height: 140px;}
.height-145px{height: 145px;}
.height-150px{height: 150px;}
.height-155px{height: 155px;}
.height-160px{height: 160px;}
.height-165px{height: 165px;}
.height-170px{height: 170px;}
.height-175px{height: 175px;}
.height-180px{height: 180px;}
.height-185px{height: 185px;}
.height-190px{height: 190px;}
.height-195px{height: 195px;}
.height-200px{height: 200px;}
.height-205px{height: 205px;}
.height-210px{height: 210px;}
.height-215px{height: 215px;}
.height-220px{height: 220px;}
.height-225px{height: 225px;}
.height-230px{height: 230px;}
.height-235px{height: 235px;}
.height-240px{height: 240px;}
.height-245px{height: 245px;}
.height-250px{height: 250px;}
.height-255px{height: 255px;}
.height-260px{height: 260px;}
.height-265px{height: 265px;}
.height-270px{height: 270px;}
.height-275px{height: 275px;}
.height-280px{height: 280px;}
.height-285px{height: 285px;}
.height-290px{height: 290px;}
.height-295px{height: 295px;}
.height-300px{height: 300px;}
.height-305px{height: 305px;}
.height-310px{height: 310px;}
.height-315px{height: 315px;}
.height-320px{height: 320px;}
.height-325px{height: 325px;}
.height-330px{height: 330px;}
.height-335px{height: 335px;}
.height-340px{height: 340px;}
.height-345px{height: 345px;}
.height-350px{height: 350px;}
.height-355px{height: 355px;}
.height-360px{height: 360px;}
.height-365px{height: 365px;}
.height-370px{height: 370px;}
.height-375px{height: 375px;}
.height-380px{height: 380px;}
.height-385px{height: 385px;}
.height-390px{height: 390px;}
.height-395px{height: 395px;}
.height-400px{height: 400px;}
.height-405px{height: 405px;}
.height-410px{height: 410px;}
.height-415px{height: 415px;}
.height-420px{height: 420px;}
.height-425px{height: 425px;}
.height-430px{height: 430px;}
.height-435px{height: 435px;}
.height-440px{height: 440px;}
.height-445px{height: 445px;}
.height-450px{height: 450px;}
.height-455px{height: 455px;}
.height-460px{height: 460px;}
.height-465px{height: 465px;}
.height-470px{height: 470px;}
.height-475px{height: 475px;}
.height-480px{height: 480px;}
.height-485px{height: 485px;}
.height-490px{height: 490px;}
.height-495px{height: 495px;}
.height-500px{height: 500px;}
.height-505px{height: 505px;}
.height-510px{height: 510px;}
.height-515px{height: 515px;}
.height-520px{height: 520px;}
.height-525px{height: 525px;}
.height-530px{height: 530px;}
.height-535px{height: 535px;}
.height-540px{height: 540px;}
.height-545px{height: 545px;}
.height-550px{height: 550px;}
.height-555px{height: 555px;}
.height-560px{height: 560px;}
.height-565px{height: 565px;}
.height-570px{height: 570px;}
.height-575px{height: 575px;}
.height-580px{height: 580px;}
.height-585px{height: 585px;}
.height-590px{height: 590px;}
.height-595px{height: 595px;}
.height-600px{height: 600px;}
.height-605px{height: 605px;}
.height-610px{height: 610px;}
.height-615px{height: 615px;}
.height-620px{height: 620px;}
.height-625px{height: 625px;}
.height-630px{height: 630px;}
.height-635px{height: 635px;}
.height-640px{height: 640px;}
.height-645px{height: 645px;}
.height-650px{height: 650px;}
.height-655px{height: 655px;}
.height-660px{height: 660px;}
.height-665px{height: 665px;}
.height-670px{height: 670px;}
.height-675px{height: 675px;}
.height-680px{height: 680px;}
.height-685px{height: 685px;}
.height-690px{height: 690px;}
.height-695px{height: 695px;}
.height-700px{height: 700px;}
.height-705px{height: 705px;}
.height-710px{height: 710px;}
.height-715px{height: 715px;}
.height-720px{height: 720px;}
.height-725px{height: 725px;}
.height-730px{height: 730px;}
.height-735px{height: 735px;}
.height-740px{height: 740px;}
.height-745px{height: 745px;}
.height-750px{height: 750px;}
.height-755px{height: 755px;}
.height-760px{height: 760px;}
.height-765px{height: 765px;}
.height-770px{height: 770px;}
.height-775px{height: 775px;}
.height-780px{height: 780px;}
.height-785px{height: 785px;}
.height-790px{height: 790px;}
.height-795px{height: 795px;}
.height-800px{height: 800px;}
.height-805px{height: 805px;}
.height-810px{height: 810px;}
.height-815px{height: 815px;}
.height-820px{height: 820px;}
.height-825px{height: 825px;}
.height-830px{height: 830px;}
.height-835px{height: 835px;}
.height-840px{height: 840px;}
.height-845px{height: 845px;}
.height-850px{height: 850px;}
.height-855px{height: 855px;}
.height-860px{height: 860px;}
.height-865px{height: 865px;}
.height-870px{height: 870px;}
.height-875px{height: 875px;}
.height-880px{height: 880px;}
.height-885px{height: 885px;}
.height-890px{height: 890px;}
.height-895px{height: 895px;}
.height-900px{height: 900px;}
.height-905px{height: 905px;}
.height-910px{height: 910px;}
.height-915px{height: 915px;}
.height-920px{height: 920px;}
.height-925px{height: 925px;}
.height-930px{height: 930px;}
.height-935px{height: 935px;}
.height-940px{height: 940px;}
.height-945px{height: 945px;}
.height-950px{height: 950px;}
.height-955px{height: 955px;}
.height-960px{height: 960px;}
.height-965px{height: 965px;}
.height-970px{height: 970px;}
.height-975px{height: 975px;}
.height-980px{height: 980px;}
.height-985px{height: 985px;}
.height-990px{height: 990px;}
.height-995px{height: 995px;}
.height-1000px{height: 1000px;}
.height-1005px{height: 1005px;}
.height-1010px{height: 1010px;}
.height-1015px{height: 1015px;}
.height-1020px{height: 1020px;}
.height-1025px{height: 1025px;}
.height-1030px{height: 1030px;}
.height-1035px{height: 1035px;}
.height-1040px{height: 1040px;}
.height-1045px{height: 1045px;}
.height-1050px{height: 1050px;}
.height-1055px{height: 1055px;}
.height-1060px{height: 1060px;}
.height-1065px{height: 1065px;}
.height-1070px{height: 1070px;}
.height-1075px{height: 1075px;}
.height-1080px{height: 1080px;}
.height-1085px{height: 1085px;}
.height-1090px{height: 1090px;}
.height-1095px{height: 1095px;}
.height-1100px{height: 1100px;}
.height-1105px{height: 1105px;}
.height-1110px{height: 1110px;}
.height-1115px{height: 1115px;}
.height-1120px{height: 1120px;}
.height-1125px{height: 1125px;}
.height-1130px{height: 1130px;}
.height-1135px{height: 1135px;}
.height-1140px{height: 1140px;}
.height-1145px{height: 1145px;}
.height-1150px{height: 1150px;}
.height-1155px{height: 1155px;}
.height-1160px{height: 1160px;}
.height-1165px{height: 1165px;}
.height-1170px{height: 1170px;}
.height-1175px{height: 1175px;}
.height-1180px{height: 1180px;}
.height-1185px{height: 1185px;}
.height-1190px{height: 1190px;}
.height-1195px{height: 1195px;}
.height-1200px{height: 1200px;}
.height-1205px{height: 1205px;}
.height-1210px{height: 1210px;}

.height-5{height: 5vh;}
.height-10{height: 10vh;}
.height-15{height: 15vh;}
.height-20{height: 20vh;}
.height-25{height: 25vh;}
.height-30{height: 30vh;}
.height-35{height: 35vh;}
.height-40{height: 40vh;}
.height-45{height: 45vh;}
.height-50{height: 50vh;}
.height-55{height: 55vh;}
.height-60{height: 60vh;}
.height-65{height: 65vh;}
.height-70{height: 70vh;}
.height-75{height: 75vh;}
.height-80{height: 80vh;}
.height-85{height: 85vh;}
.height-90{height: 90vh;}
.height-95{height: 95vh;}
.height-100{height: 100vh;}
